@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.center-top {
    padding-left: calc(50% - 1600px/2);
    padding-right: calc(50% - 1600px/2);
}

.nav {
    background-color: #222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    gap: 41px;
    align-items: center;
}

.nav-right {
    display: flex;
    gap: 41px;
}

.content-top {
    background-color: #F1E4E6;
    gap: 63px;
    display: flex;
    align-items: center;
}

.content-top-right-text {
    display: flex;
    gap: 16px;
    ;
    align-items: center;
}

h1 {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.content-top-h2 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.RoseCheeks-content-top-style {
    color: #F16D7F;
}

.center {
    padding-left: calc(50% - 1140px/2);
    padding-right: calc(50% - 1140px/2);
}

.content-bottom {
    padding-top: 65px;
    padding-bottom: 96px;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.content-bottom-img-text {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .img1 {

}

.img2 {

}

.img3 {

}

.img4 {

} */


/* .RoseCheeks-content-bottom-img-text-style {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} */

.featured-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding-bottom: 48px;
}

h2 {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.featured-items-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    padding-bottom: 48px;
}

h3 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 16px;
}

.grid-item-par {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 314px;
    padding-bottom: 16px;
}

.grid-item-coast {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.button-brows {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FF6A6A;
    width: 212px;
    height: 48px;
    background-color: #fff;
}

.button-bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.img2layer {
    background-color: #F7E4E2;
    width: 360px;
    height: 420px;
    display: flex;
    justify-content: center;
}