@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.nav {
    background-color: #222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    gap: 41px;
    align-items: flex-end;
}

.nav-right {
    display: flex;
    gap: 41px;
    align-items: flex-end;
}

.content-top {
    background-color: #F1E4E6;
    gap: 63px;
    display: flex;
    align-items: center;
    padding-left: calc(50% - 1600px/2);
    padding-right: calc(50% - 1600px/2);
}

.content-top-right-text {
    display: flex;
    gap: 16px;
    align-items: center;
}

h1 {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.content-top-h2 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.RoseCheeks-content-top-style {
    color: #F16D7F;
}

.center {
    padding-left: calc(50% - 1140px/2);
    padding-right: calc(50% - 1140px/2);
}

.content-offer {
    padding-top: 65px;
    padding-bottom: 96px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    /* в колонках можно указать и 1 фракцию, но 360 пикселей ширина картинок, в пикселях тоже правильно */
    grid-template-rows: 260px 180px;
    /*  тут указана высота верхнего ряда 260пиксеоей, а нижнего - 180пикс */
}

.big-card {
    grid-column: 1/4;
}

.content-bottom-img-text {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-offer-card {
    position: relative; 
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background: rgba(33, 22, 22, 0.70);
    background-blend-mode: overlay;
}

.offer-card-img {
    position: relative;
    z-index: 0;
    z-index: 0;
    width: 100%;
    
}

.offer-card-text {
    position: absolute;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.RoseCheeks-content-bottom-img-text-style {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.featured-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding-bottom: 48px;
}

h2 {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.featured-items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    /* можно использовать (3, 1fr) или (3, 360px) */
    /* авто фит автоматически подстраивает кол-во колонко под ширину страницы */
    /* grid-template-rows: repeat(2, 1fr); */
    /* строки можно не делить */
    gap: 30px;
    padding-bottom: 48px;
}

h3 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 16px;
}

.grid-item-par {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 314px;
    padding-bottom: 16px;
}

.grid-item-coast {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.img2layer {
    background-color: #F7E4E2;
    width: 360px;
    height: 420px;
    display: flex;
    justify-content: center;
}

.items-info {
    padding: 24px 16px;
    gap: 16px;
}

.button-bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.button-brows {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FF6A6A;
    width: 212px;
    height: 48px;
    background-color: #fff;
}